@media only screen and (max-width: 800px) {

    .navigation {
        display: block;
        width: 100vw;
        height: auto;
        border: none;
    }

    nav, .filter, .links, .copyright {
        display: none;
    }

    .branding {
        font-size: 0.7em;
        padding: 15px;
    }


    #container {
        margin: 0;
        margin-top: 60px;
        grid-template-columns: 1fr 1fr;
    }

    #project {
        width: 100%;
        margin: 0;
    }

    .image {
        margin-top: 90px;
    }

}